.main {
  .mainSliderRightArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100px;
    height: 550px;

    i {
      color: white;
      font-size: 50px;
    }
  }

  .mainSliderLeftArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100px;
    height: 550px;

    i {
      color: white;
      font-size: 50px;
    }
  }
  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .upperMargin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 550px;

      .mainBestList {
        padding: 75px 0;
        max-width: 1260px;

        .bestListTitleContainer {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;

          .bestListTitle {
            font-size: 45px;
          }

          .bestListLink {
            position: absolute;
            bottom: 0;
            right: 20px;
            color: red;
            font-size: 15px;
            font-weight: 600;
          }
        }

        .bestListProductRecommend {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 100%;
          padding: 10px;
          gap: 10px;

          .bestListProduct {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 420px;
            height: 430px;
            background-color: antiquewhite;
          }
        }
      }

      .mainBannerContainer {
        max-width: 1260px;

        img {
          width: 1260px;
          height: 500px;
          padding: 10px;
          object-fit: cover;
        }
      }

      .mainBannerSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .mainBannerCard {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 610px;
          height: 350px;
          margin: 10px;
          background-image: url(../../assets/images/colombia.jpg);
          background-repeat: no-repeat;
          color: white;

          &:nth-child(1) {
            background-position: 43% 44%;
          }

          &:nth-child(2) {
            background-position: 57% 44%;
          }

          &:nth-child(3) {
            background-position: 43% 56%;
          }

          &:nth-child(4) {
            background-position: 57% 56%;
          }

          .cardTitle {
            font-size: 70px;
            font-weight: 800;
          }

          .cardSubTitle {
            font-size: 25px;
          }
        }
      }

      .mainBottomContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        gap: 90px;
      }
    }
  }
}

.active {
  opacity: 1;
}
