tbody {
  td {
    height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .bodyCheckBox {
    height: 140px;
  }
  .bodyImage {
    width: 150px;

    img {
      width: 140px;
      height: 98px;
      object-fit: cover;
    }
  }
  .bodyProductName {
    padding-left: 20px;
    width: 281px;
    text-align: start;
  }
  .bodySelectedOption {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.3);
    text-align: start;
  }
  .bodyMarketPrice {
    width: fit-content;
    white-space: nowrap;
  }
  .bodyProductQty {
    .switchNumber {
      display: flex;
      justify-content: center;
      align-items: center;

      .minusBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 30px;

        background-color: rgba(0, 0, 0, 0.05);
      }

      input {
        width: 40px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 13px;
        text-align: center;
      }

      .plusBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 30px;

        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
