.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .footerContainer {
    width: 100%;
    margin: 60px 0 0;
    padding: 0px 0px 46px;
    color: #dbdbdb;

    .utilMenu {
      display: flex;
      justify-content: center;
      padding: 21px 0;
      border-top: 2px double #2d2d2d;
      border-bottom: 1px solid #dbdbdb;

      .utilMenuContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 1240px;
        gap: 18px;

        div {
          a {
            &:link,
            &:visited,
            &:hover {
              text-decoration: none;
              color: #2d2d2d;
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
    }

    .contact {
      padding: 38px 0 0;

      .contactContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 185px;

        .customerCenter {
          width: 318px;
          height: 100%;
        }

        .bankInfo {
          width: 272px;
          height: 100%;
        }

        .companyInfo {
          width: 650px;
          height: 100%;
        }

        .contactDivPreset {
          padding: 23px 0 20px 36px;
          text-align: left;
          color: #2d2d2d;
          border-left: 1px solid #dbdbdb;
        }

        .textTitle {
          padding: 0 0 10px;
          font-size: 15px;
        }

        .textOffice {
          display: flex;
          align-items: center;
          margin: 10px 0 0;
          font-weight: bold;
          font-size: 22px;

          svg {
            font-size: 28px;
            margin: 0 3px 0 0;
          }
        }

        .textDetails {
          display: flex;
          flex-wrap: wrap;
          margin: 9px 0 0;
          gap: 5px;
        }

        .textCustomerCenter {
          font-size: 13px;
        }

        .textBankInfo {
          gap: 15px;

          p {
            font-weight: bold;
            font-size: 16px;

            span {
              font-weight: lighter;
              margin: 0 0 0 10px;
              font-size: 15px;
            }
          }
        }
      }

      .companyInfo {
        font-size: 12px;

        .textCompanyInfo {
          display: flex;
          flex-wrap: wrap;
          margin: 0;

          p {
            padding: 0 0 4px;
            color: #a2a2a2;

            span {
              color: #2d2d2d;
              margin: 0 10px 0 7px;
            }

            .spanBtn {
              padding: 1px 2px;
              border: 1px solid #2d2d2d;
            }
          }
        }

        .copyright {
          margin: 4px 0;
        }

        .sns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 20px 0 0;

          svg {
            margin: 0 5px 0 0;
            font-size: 18px;
          }

          a {
            &:link,
            &:visited,
            &:hover {
              text-decoration: none;
              color: #2d2d2d;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
