@mixin cardSizeSmall {
  width: 200px;
  height: 170px;
}

@mixin cardSizeMed {
  width: 329px;
  height: 229px;
}

@mixin cardSizeBig {
  width: 400px;
  height: 281px;
}

.searchCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin: 25px 10px 20px;

    .cardThumbnailSmall {
      @include cardSizeSmall();
      margin: 10px 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cardThumbnailMed {
      @include cardSizeMed();
      margin: 10px 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .cardThumbnailBig {
      @include cardSizeBig();
      margin: 10px 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .discriptionContainer {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 14px 0 0;

      .titleContainer {
        padding: 0 0 10px 0;

        .korTitle {
          margin-bottom: 5px;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 400;
          font-size: 20px;
          color: #231916;
        }

        .engTitle {
          font-size: 15px;
          font-weight: 200;
          font-family: 'Barlow Condensed', sans-serif;
          color: #595959;
        }
      }

      .discription {
        display: flex;
        flex-direction: column;
        margin: 0 0 2px 0;
        gap: 2px;

        .details {
          color: #383838;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 300;
          font-size: 14px;
        }

        .roastedDate {
          display: flex;
          flex-direction: row;
          padding: 0 0 2px 0;
          gap: 5px;
          color: #383838;
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 400;
          font-size: 14px;

          .roastRight {
            font-weight: 300;
          }
        }
      }
      .price {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 3px 0;
        font-weight: bold;
        color: #333333;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        font-size: 18px;

        svg {
          font-size: 28px;
        }
      }
    }
  }
}
