.header {
  display: flex;
  min-width: 1260px;
  height: 158px;
  border-bottom: 1px solid #ededed;
  .inner {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    width: 1240px;
    top: 0;
    align-items: center;
    margin: 0 auto;
  }
  .middle {
    width: 400px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    font-weight: 700;

    .searchBar {
      padding: 7px;
      width: 450px;
      border-radius: 10px;
      border: 0.5px solid #6d5f5f;
      font-size: 13px;
    }
    .searchIcon {
      position: absolute;
      left: 860px;
      top: 78px;
      height: 20px;
    }

    & ul {
      & li {
        width: 115px;
        color: #222222;
        float: left;
        align-items: center;
        padding: 0 30px;
        &:hover {
          font-size: 0px;
        }
      }

      .about:hover:before {
        font-size: 16px;
        content: '소개';
        color: red;
        border-bottom: 2px solid red;
      }
      .shop:hover:before {
        font-size: 16px;
        content: '쇼핑';
        color: red;
        border-bottom: 2px solid red;
      }
      .search:hover:before {
        font-size: 16px;
        content: '검색';
        color: red;
        border-bottom: 2px solid red;
      }
    }
  }
  .last {
    margin-bottom: 22px;
    .rightTop {
      padding: 15px 0 40px;
      & li {
        color: #222222;
        padding: 1px;
        float: left;
        font-size: 14px;
      }
      & li:hover {
        color: red;
      }
    }
    .link {
      & li {
        margin: 0 0 5px 20px;
        line-height: 2.5vh;
      }
      & li:hover {
        color: red;
      }

      & a {
        color: #222222;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}
