@mixin hoverFontColorBottom {
  font-size: 16px;
  color: red;
  border-bottom: 2px solid red;
}
@mixin hoverFontColor {
  color: red;
  font-size: 16px;
}
.NavSmall {
  a {
    text-decoration: none;
    font-size: 16px;
    color: #222222;

    &:hover {
      color: red;
    }
  }

  .inner {
    min-width: 1440px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 63.5px;
    width: 100%;
    height: 84.5px;
    background-color: white;
    border-bottom: 1px solid #ededed;

    .searchBar {
      position: relative;
      padding: 6px;
      min-width: 420px;
      height: 32px;
      font-size: 13px;
      opacity: 1;
      border: none;
      border-bottom: 1px solid black;
    }

    .first {
      margin-right: 60px;
      width: 164px;

      .smallNavLogoTitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 36px;

        &:hover {
          color: black;
        }
      }

      img {
        width: 164px;
      }
    }

    .categoryOne {
      margin-right: 40px;

      .searchTag {
        position: relative;
      }

      ul {
        li {
          float: left;
          padding: 0px 27px;
          font-weight: 700;
          cursor: pointer;
          width: 109px;
        }

        & li:hover {
          font-size: 0px;
        }

        .about {
          width: 109px;
        }

        .shop {
          width: 100px;
        }
      }
    }

    .categoryTwo {
      margin: 10px;
      min-width: 330px;

      ul {
        li {
          float: left;
          padding: 10px;
          padding-bottom: 12px;
          width: 109px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7);
          font-family: 'Noto Sans KR', sans-serif;
        }

        .museum {
          width: 100px;
        }

        li:hover {
          font-size: 0px;
        }
      }
    }

    .iconBar {
      min-width: 250px;
      float: right;

      ul {
        li {
          float: left;
          padding: 0 14px 0 15px;
          border-right: 1px solid black;
        }
      }
    }
  }

  .about:hover:before {
    @include hoverFontColorBottom();
    content: '소개';
  }

  .shop:hover:before {
    @include hoverFontColorBottom();
    content: '쇼핑';
  }

  .search:hover:before {
    @include hoverFontColorBottom();
    content: '검색';
  }

  .museum:hover::before {
    @include hoverFontColor();
    content: '박물관';
  }

  .teraTimes:hover::before {
    @include hoverFontColor();
    content: '테라 타임즈';
  }

  .locations:hover::before {
    @include hoverFontColor();
    content: '매장 안내';
  }
}

.searchSmallBox {
  position: absolute;
  border-radius: 12px;
  top: 80px;
  left: 0;
  width: 100%;
  height: 400px;
  // background-color: white;
  background-color: white;
  border-bottom: 1px solid black;
  opacity: 0.98;

  .searchBoxContainer {
    min-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;

    .leftContainer {
      // display: flex;
      // justify-content: center;
      align-items: flex-start;
      padding-bottom: 170px;
      width: 400px;
      // border: 1px solid black;
      margin-left: 100px;

      .linkBox {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          font-size: 17px;
          font-family: 'Noto Sans KR', sans-serif;
        }
      }
    }

    .rightContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 950px;
      overflow: hidden;
      height: 350px;
      gap: 20px;
    }
  }
}
